{% extends "base.html" %}

{% block content %}
	<h2>Registrar acesso</h2>
  <form method="POST" enctype="multipart/form-data">
 
    <!-- Security token -->
    {% csrf_token %}
    
    
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h3>Acesso</h3>
        </div>
        
        {% if form.errors %}
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">
            </button>
            por favor, verifique erros
            {{ form.errors }}
          </div>
        {% endif %}
        {{form}}
      </div>
      <div class="card-footer">
        <input type="submit" value="Registrar" class="btn btn-sm btn-success">
        <a href="{% url 'index' %}" class="btn btn-sm btn-secondary">Voltar</a>
      </div>
    </div>
  </form>
{% endblock %}